.sec1 {
  background-image: url("../images/banner1.png");
  background-size: cover;
  background-position: center;
  height: 75vh;
}
.img1 {
  background-size: cover;
  background-position: center;
}
